body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e293b;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #1e40af;
}

ul li {
  margin: 6px 0;
}

p {
  line-height: 1.6;
}

